// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
//
// light orange #CF583D

body > header {
  background: #1E4061;
}

body > header h1 {
  font-size: 1.2em;
}

body > nav a {
  line-height: 1.2em;
}

h1 {
  font-size: 1.6em;
  line-height: 1.2em;
}

@media only screen and (min-width: 992px) {
  body { font-size: 1.4em; }
  h1 { font-size: 1.6em; line-height: 1.2em; color: #3B1106; }
}

h2, section h1 {
  font-size: 1.4em;
}
h3, section h2, section section h1 {
  font-size: 1.2em;
}
h4, section h3, section section h2, section section section h1 {
  font-size: 1em;
}
h5, section h4, section section h3 {
  font-size: .9em;
}
h6, section h5, section section h4, section section section h3 {
  font-size: .8em;
}

pre {
//  background: $pre-bg $noise-bg;
//  border: 1px solid $pre-border;
  line-height: 1.5em;
  font-size: 16px;
  color: #000;
//  color: $pre-color;
//  overflow: auto;
}
